exportPattern("^[[:alpha:]]+")
S3method(predict, wrap_glmnet)
S3method(predict, wrap_lightgbm)
S3method(predict, wrap_ranger)
S3method(predict, wrap_svm)
S3method(predict, wrap_xgboost)
importFrom("stats", "predict")
importFrom("e1071", "svm")
importFrom("glmnet", "glmnet")
importFrom("lightgbm", "lightgbm")
importFrom("ranger", "ranger")
importFrom("xgboost", "xgboost")
